/* @theme cuni */

@import 'default';

section {
  background-color: #fff;
  color: #000;
  background-image: url('../theme/mff_logo.png');
  background-repeat: no-repeat;
  background-position: right 40px top 40px;
  background-size: 8%;
  font-family: Inter,Helvetica Neue,Helvetica,sans-serif;
  justify-content: start; 
}

section.lead {
  background-image: none;
}

em {
  color: #D03145;
}

section h1,
section a,
section footer,
section::after {
  color: #D03145;
}

section.invert {
  background-color: #630606;
  color: #fff;
  background-image: url('../theme/image.png');
}


section.lead.invert {
  background-image: url('../theme/image.png');
  background-size: 50%;
}

section.invert h1,
section.invert footer,
section.invert em,
section.invert::after {
  color: #fff;
}

section.invert a {
  color: #e37222;
}

/* Add "Page" prefix and total page number */
section::after {
  content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}